[project]
	description = FEA project for EN2340 Computational Methods in Structural and Solid Mechanics, Brown University
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kyle (kylemeyer1)
[access "refs/for/refs/*"]
	read = group user/Kyle (kylemeyer1)
	push = group user/Kyle (kylemeyer1)
	label-Code-Review = -2..+2 group user/Kyle (kylemeyer1)
	label-Verified = -1..+1 group user/Kyle (kylemeyer1)
	rebase = group user/Kyle (kylemeyer1)
	removeReviewer = group user/Kyle (kylemeyer1)
	submit = group user/Kyle (kylemeyer1)
[access "refs/heads/*"]
	read = group user/Kyle (kylemeyer1)
	create = group user/Kyle (kylemeyer1)
	push = +force group user/Kyle (kylemeyer1)
	pushMerge = group user/Kyle (kylemeyer1)
[access "refs/tags/*"]
	push = +force group user/Kyle (kylemeyer1)
	pushTag = group user/Kyle (kylemeyer1)
	pushSignedTag = group user/Kyle (kylemeyer1)
